@page "/hoteladmin"
@page "/hoteladmin/{id}"
@using BlazorHotelBooking.Shared
@inject HttpClient http

<h3>HotelAdmin for </h3>

@if(Id is null)
{
    
}


@code {
    [Parameter]
    public string? Id { get; set; }
    
    private Hotel selectedHotel = new Hotel();

   
    async Task HandleSubmit()
    {
        Console.WriteLine("handle submit!");
    }
}
