@page "/"

<PageTitle>Blazing Hotels</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView Roles="User">
    <Authorized>
        <p>Hello, @context.User.Identity!.Name!</p>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Hello, @context.User.Identity!.Name! You are signed in as an Admin</p>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <p>You are signed in as a User</p>
    </Authorized>
</AuthorizeView>

