@page "/"

<PageTitle>Pacific Tours</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Welcome to Pacific Tours @context.User.Identity!.Name!</h1>
        <p>Click on the Hotels link to see the list of hotels and book your desired hotel.</p>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to Pacific Tours!</h1>
        <p>You are not logged in. Please log in to book your holiday.</p>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="Admin">
    <p>You are logged in as an Admin.</p>
</AuthorizeView>



