@page "/"

<PageTitle>Blazing Hotels</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Welcome to Blazing Hotel @context.User.Identity!.Name!</h1>
        <p>Click on the Hotels link to see the list of hotels and book your desired hotel.</p>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to Blazing Hotel!</h1>
        <p>You are not logged in. Please log in to access the website.</p>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="Admin">
    <p>You are logged in as an Admin.</p>
</AuthorizeView>



